<!DOCTYPE html>
<html>
  <head>
    <%- include('parts/head') %>
  </head>
  <body>
    <h1>rethink-explorer</h1>
    <div>
      <%- databases.map(d => `
      <div>
        <h3>${d.name}</h3>
        <ul>
          ${d.tables.map(t => `
          <li><a href=${`/db/${d.name}/table/${t}`}>${t}</a></li>
          `).join('')}
        </ul>
      </div>
      `).join('') %>
    </div>
  </body>
</html>
